<!DOCTYPE html>
<html>
  <head>
    <title>Plantas medicinales</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="proyecto.css">
  </head>
  <body><div id="contenedor">
    <nav id="menu"> 
    <img src="logo pagina.webp" class="logoweb">
    <a  class="boton" href="#manzanilla">INICIO</a> 
      <a class="boton" href="#QuienesSomos">QUIENES SOMOS?</a> 
      <a class="boton" href="#SOPORTE">SOPORTE</a> 
      <a class="boton" href="#CONTACTOS">CONTACTOS</a>
      
    </nav>
    
       <div id="manzanilla">
        
        <h2> Conectando la belleza natural con la salud y el bienestar </h2>

        <p> en esta pagina web veremos distintos tipos de plantas medicinales y ornamentales</p>
<div class="cajatexto">
        <p>El objetivo general de nuestra página sobre plantas ornamentales y medicinales es brindar información completa y confiable acerca de las diversas especies de plantas que pueden ser utilizadas tanto para embellecer nuestros espacios como para aprovechar sus propiedades medicinales. Nos proponemos ser una fuente de conocimiento accesible y útil para aquellos interesados en el mundo de las plantas, ya sea por motivos estéticos o por su potencial terapéutico.</p>
</div>
        <div id="slider">
          <ul>
        <li><img src="hortensia-Copy.jpg" alt="slide1"> </li>
        <li><img src="Varios_helechos.jpg" alt="slide2"> </li>
        <li><img src="arnica.jpg" alt="slide3"> </li>
        <li><img src="menta.jpg" alt="slide4"> </li>
        
          </ul>
        
        </div>




       </div>

       






       <div id="QuienesSomos">

        <h2>Gallery</h2>

        <div id="caja1">
        <h1>calendula</h1>

          <img src="calendula-a.png" alt="img">
        
      </div>
      <div class="cajatexto1">
        <p> hierba anual o bianual de 30 - 50 cm de altura, con vello fino y suave. Hojas en forma de espátulas, de 5 - 10 cm de longitud, de bordes lisos o ligeramente dentados. Capítulos terminales simples, amarillo-anaranjadas, de 5 - 10 cm de diámetro. Fruto pequeño, seco y algo espinoso.</p>

        <a class="boton" href="https://www.ecologiaverde.com/plantas-ornamentales-que-son-tipos-nombres-e-imagenes-2642.html">mas información</a>

      </div>
      

      <div id="caja2">
        <h1>hierba luisa</h1>
        <img src="hierbaluisa-a.png" alt="img">
    </div>
    <div class="cajatexto2">
      <p>"Es una planta herbácea, perenne, aromática y robusta que se propaga por esquejes y pertenece a la familia de las Gramíneas. Las flores se reúnen en espiguillas de 30-60 cm de longitud formando racimos. Es natural de la India, Ceilán y Malasia."</p>

      <a class="boton" href="https://www.elmueble.com/plantas-flores/plantas-medicinales-que-puedes-cultivar-tu_42854">mas información</a>

    </div>
    
    <div id="caja3">
      <h1>aloe vera</h1>
        <img src="aloe-hojas-a.png" alt="img">
    </div>

    <div class="cajatexto3">
      <p>planta siempreverde. Tallo de 1 a 2 m de alto, de unos 10 cm de grosor, aplanado. Hojas carnosas de hasta 40 a 60 cm largo y de aprox. 10 a 15 cm de ancho, aplanadas en la base, con aguijón terminal, lisas.</p>

        <a class="boton" href="#CONTACTOS">mas información</a>

    </div>

    <div id="caja6">
      <h1>petunia</h1>
        <img src="petunia.jpg" alt="img">
    </div>

    <div class="cajatexto4">
      <p>La petunia tiene una gran cantidad de propiedades que son muy beneficiosas para la salud, pero la más notoria es la de ser un poderoso antioxidante natural , lo cual es una potencial que es aprovechado para luchar contra los radicales libres, que son los causantes del envejecimiento prematuro o a temprana edad.</p>

        <a class="boton" href="#CONTACTOS">mas información</a>

    </div>
    


       </div>

       <div id="CONTACTOS">

        <h2>CONTACTOS</h2>
<p>si tienes alguna duda sobre alguna de estas plantas CONTACTOS via gmail para saber mas las plantas antes mencionadas</p>
        
          <form  id="formularios_contacto">
            <h2>Iniciar sesión</h2>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>
            <label for="correo">Correo electrónico:</label>
            <input type="email" id="correo" name="correo" required>
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required>
            <label for="asunto">Asunto :</label>
            <input type="text" id="asunto" name="asunto" required>
            <label for="mensaje">Mensaje :</label>
            <textarea id="mensaje" name="mensaje" required></textarea>
            <!-- <h4>Plantas de interés:</h4>
            <input type="checkbox" id="aloe" name="plantas" value="aloe">
            <label for="aloe">Aloe</label><br>
            <input type="checkbox" id="calendula" name="plantas" value="calendula">
            <label for="calendula">Caléndula</label><br>
            <input type="checkbox" id="hierba-luisa" name="plantas" value="hierba-luisa">
            <label for="hierba-luisa">Hierba Luisa</label><br> -->
            <button type="submit">Enviar</button>
          </form>
          
       </div>

      
       <div id="e-shop">

        <h2>preguntas frecuentes</h2>
        <div class="cajatextoshop">
        <h1>1. ¿Qué son las plantas medicinales?</h1>
       
        <p>Las plantas medicinales son aquellas que se utilizan con fines terapéuticos o medicinales. Sus partes, como hojas, flores, raíces y tallos, contienen sustancias activas que pueden ser beneficiosas para la salud.</p>
       </div>
       <div class="cajatextoshop1">
       <h1>2. ¿Cuál es la diferencia entre plantas medicinales y ornamentales?</h1>
       
       <p>Las plantas medicinales se utilizan principalmente con fines medicinales, mientras que las plantas ornamentales se cultivan y se aprecian por su belleza estética. Sin embargo, algunas plantas pueden tener propiedades medicinales y ornamentales al mismo tiempo.</p>
       </div>

       <div class="cajatextoshop2">
        <h1>3. ¿Es seguro utilizar plantas medicinales?</h1>
        
        <p>Si bien muchas plantas medicinales son seguras cuando se utilizan adecuadamente, es importante tener en cuenta que algunas plantas pueden tener efectos secundarios o interactuar con medicamentos. Siempre es recomendable buscar información confiable y consultar a un profesional de la salud antes de utilizar plantas medicinales.</p>
        </div>
        
        <div class="cajatextoshop3">
          <h1>4. ¿Cómo puedo utilizar plantas medicinales?</h1>
          
          <p>Las plantas medicinales se pueden utilizar de diferentes formas, como infusiones, tinturas, cremas o aceites. La forma de uso dependerá de la planta y de la condición a tratar. Es recomendable seguir las instrucciones de un experto o consultar fuentes confiables para saber cómo utilizar cada planta correctamente.</p>
          </div>

       </div>
       <button id="btn-scroll-top">Ir arriba</button>

    </div>
    <footer>
      <div class="footer-container">
        <div class="footer-column">
          <h3>Contacto</h3>
          <p>Correo electrónico: info@example.com</p>
          <p>Teléfono: +123456789</p>
        </div>
        <div class="footer-column">
          <h3>Enlaces</h3>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Síguenos en las redes sociales</h3>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Todos los derechos reservados &copy; 2023</p>
      </div>
    </footer>
    <div class="ad-container">
      <div class=""></div>
      <div class="ad-content">
          <h2 class="Anuncio Nike">¡No te pierdas nuestra oferta especial!</h2>
          <p class="Esto es una descripción sobre esta oferta">Obtén un 20% de descuento en todos nuestros productos. ¡Visítanos ahora!</p>
          <div class="ad-button">
              <a href="https://www.nike.com/t/air-jordan-1-low-mens-shoes-0LXhbn/553558-065">Ver oferta</a>
          </div>
      </div>
  </div>
  <script src="/js/contactos.js"></script>
  </body>
</html>